# Ignore python local caching files
__pycache__
**.idea
# Ignore notebook checkpoints
**.ipynb_checkpoints
.ipynb
# Vim files and python caches
*~
*.swp
*.pyc

data_old
data

# Ignore result directories
# experiments/
results/
MONAI_BOOTCAMP
instructions_vessels_training_testing
manuscript_tmi
manuscript_arxiv
pre_generated_results
